*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
!/src/minecraft/dark/
!/src/minecraft/elrath18/
!/resources/mods/
!/models/
!info.txt
!publish.bat
!publish_obf.bat
!include.bat
!buildlocal.bat
!/README